.layout-wrapper {
  position: relative;
  background-image: url("./../../../../assets/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px solid #998776;
}
